.dataRow {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color);
    > div {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 767.99px) {
        display: none;
    }
}
.dataRow:hover {
    color: var(--main);
}

.badge {
    background-color: var(--main);
    border-radius: 6px;
    padding: 2px 8px;
    font-size: 14px;
    color: white;
}

.mobileTxRow {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    color: var(--text-color);

    > div {
        display: flex;
        justify-content: space-between;

        > :first-child {
            color: var(--secondary-text-color);
        }
    }

    @media (min-width: 768px) {
        display: none;
    }
}
// 🙄
.mobileTxRow:hover {
    color: var(--main);
    > div {
        color: var(--main);
        > div {
            color: var(--main) !important;
        }
    }
}