.dataRow {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color);
    > div {
        display: flex;
        flex-direction: column;
    }
}

.badge {
    background-color: var(--main);
    border-radius: 6px;
    padding: 2px 8px;
    font-size: 14px;
    color: white;
}