.messageRow {
    padding: 12px;
    border: 1px solid var(--light-grey);

    details[open] {
        summary {
            color: transparent;
        }
        summary::marker {
            color: var(--text-color);
        }
    }
}