.cardWrapper {
    display: flex;
    flex-direction: column;
}

.card {
    padding: 16px;
    box-shadow: 3px 3px 7px 1px #00000014;
    border-radius: 1px;
    border-style: solid;
    border-width: .5px .5px .5px .5px;
    border-color: #ededed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}