.cardWrapper {
    display: flex;
    flex-direction: column;
}

.card {
    padding: 16px;
    box-shadow: 3px 3px 7px 1px var(--shadow-color);
    border-radius: 1px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--card-border);
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.tab {
    cursor: pointer;
}

.activeTab {
    border-color: var(--main) !important;
    cursor: default;
}