.titleAndSearchWrapper {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    > form {
        flex-grow: 1;
        > input {
            height: 48px;
            width: calc(100% - 1rem);
            padding: 0px 0.5rem;
        }
    }
}

.searchResults {
    position: absolute;
    width: 100%;
    left: 4px;
    bottom: 0px;
    transform: translateY(calc(100% - 12px));
    margin: 0px
}

.searchResultsContent {
    padding: 0px;
    // box-shadow: 3px 3px 7px 1px #fff;
    border: 1px solid var(--light-gray)
}

.searchLink {
    color: var(--text-color);
    padding: 12px;
}
.searchLink:hover {
    background-color: var(--main);
}