.chainCard {
    transition: background-color 0.2s ease;
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-align: center;
}

.chainCard:hover {
    background-color: var(--main);
}

.title {
    font-family: 'Bunken Tech';
    @media(min-width: 478px) {
        margin-top: 40px;
    }
}

.statusLink {
    color: var(--main);
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.statusLink:hover {
    opacity: 0.8;
}