:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --xlight-gray: #dadada;
  --xlight-grey: #dadada;

  --light-gray: #c5c3c6;
  --light-grey: #c5c3c6;

  --gray: #4c5c68;
  --grey: #4c5c68;

  --dark-gray: #46494c;
  --dark-grey: #46494c;

  --very-dark-gray: #2d2f31;
  --very-dark-grey: #2d2f31;

}

.theme-light {
  --main: #1985a1;

  color: #000;
  --text-color: #000;
  --secondary-text-color: var(--gray);

  --bg: #eee;
  --nav-bg: var(--xlight-gray);
  --nav-bottom-border: transparent;
  --card-bg: #fff;
  --card-border: #ededed;
  --input-border: var(--light-gray);
  --shadow-color: #00000014;
}

.theme-dark {
  --main: #22b8dd;
  
  color: #FFF;
  --text-color: #FFF;
  --secondary-text-color: var(--light-gray);

  --bg: rgb(51, 51, 51, 1);
  --nav-bg: rgb(51, 51, 51, 1);
  --nav-bottom-border: var(--gray);
  --card-bg: rgb(51, 51, 51, 1);
  --card-border: rgb(237, 237, 237);
  --input-border: var(--card-border);
  --shadow-color: #c5c3c614;
}

@font-face {
  font-family: 'Bunken Tech';
  src: url('/fonts/bunken_tech_sans_w01_semibold-webfont.woff2') format('woff2'),
       url('/fonts/bunken_tech_sans_w01_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--main);
}

.buttonLink {
  text-decoration: none;
  color: var(--main);
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
}
.buttonLink:hover {
  color: #747bff;
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button, button {
  border-radius: 0px;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  /* font-weight: 500; */
  font-family: inherit;
  background-color: var(--main);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--text-color);
}
.button:hover, button:hover {
  text-decoration: underline;
}
.button:focus, button:focus,
.button:focus-visible, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.button:disabled, button:disabled {
  background-color: var(--gray);
  color: white;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.wide, .w-full {
  width: 100%;
}

.tall, .h-full {
  height: 100%;
}

.dataRow {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  > div {
      display: flex;
      flex-direction: column;
  }
}

.badge {
  padding: 4px 8px;
  width: fit-content;
  /* color: var(--text-color); */
}

.blackLink {
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}
.blackLink:hover {
  color: var(--main);
}

.detailsOpenHide[open] {
  summary {
      color: transparent;
  }
  summary::marker {
    color: var(--text-color);
  }
}

input {
  box-shadow: 3px 3px 7px 1px var(--shadow-color);
  border: 0.5px solid var(--input-border);
  background-color: var(--card-bg);
  color: var(--text-color)
}